*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog

configure
configure.ac
config.log
config.status

tools/scripts/gitlog2ChangeLog
tools/scripts/NEWS-query
tools/scripts/fetch

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex

tools/autotools/m4/perl_autofrisk.m4
tools/autotools/m4/guile_autofrisk.m4

tests/defs
tests/wrapper
tests/test-fail
tests/test-success
tests/test-args-1
tests/test-args-2
tests/test-args-3
tests/test-args-4
tests/test-args-5
tests/test-args-long-1
tests/test-args-multiple-1
tests/test-args-multiple-2
tests/test-args-auths
tests/test-args-build
tests/test-args-check
tests/test-args-clean
tests/test-args-digest
tests/test-args-initialize
tests/test-args-install
tests/test-args-parse
tests/test-args-preprocess
tests/test-args-uninstall
tests/test-args-validate
tests/test-helps
tests/test-dry-run
tests/test-initialize
tests/test-preprocess
tests/test-parse
tests/test-single
tests/test-build
tests/test-validate
tests/testSubDir-*

libs/perl/Sitetool/Autoconfig.pm
libs/perl/Sitetool/Filterchain.pm
libs/perl/Sitetool/Scheme.pm
libs/perl/Sitetool/Parse.pm
libs/perl/Sitetool/Preprocess.pm
libs/scheme/guile-lib

docs/man/sitetool.1
docs/info/sitetool.info

src/sitetool
src/sitetool-config
src/sitetool-initialize
src/sitetool-preprocess
src/sitetool-parse
src/sitetool-build
src/sitetool-clean
src/sitetool-install
src/sitetool-uninstall
src/sitetool-install
src/sitetool-check
src/sitetool-validate
src/sitetool-digest
src/sitetool-auths
src/sitetool-styles
src/filters/changelog-wikitext
src/filters/news-wikitext
src/filters/svnlog-wikitext
src/filters/sxml-sxml
src/filters/wikitext-sxml
src/filters/map-sxml

site/site.stamp
