*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog
VERSION
NEWS
TODO
AUTHORS

configure
configure.ac
config.log
config.status

tools/maint/fetch
tools/maint/whitespace-detect
tools/maint/gitlog-to-committers
tools/maint/gittag-to-date
tools/maint/yaxx-to-grammar

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex

tools/autotools/m4/perl_autofrisk.m4
tools/autotools/m4/guile_autofrisk.m4

tests/defs
tests/wrapper
tests/test-fail
tests/test-success
tests/test-verbose
tests/test-debug
tests/test-helps
tests/test-dry-run
tests/test-auths
tests/test-initialize
tests/test-preprocess
tests/test-parse
tests/test-single
tests/test-build-01
tests/test-build-02
tests/test-validate
tests/testSubDir-*
tests/test-options-1
tests/test-options-2
tests/test-options-3
tests/test-options-short-1
tests/test-options-short-2
tests/test-options-short-3
tests/test-options-short-4
tests/test-options-long-1
tests/test-options-long-2
tests/test-options-long-3
tests/test-options-long-4
tests/test-options-abbr-1
tests/test-options-abbr-2
tests/test-options-abbr-3
tests/test-options-shortargs-1
tests/test-options-shortargs-2
tests/test-options-shortargs-3
tests/test-options-shortargs-4
tests/test-options-longargs-1
tests/test-options-longargs-2
tests/test-options-longargs-3
tests/test-options-longargs-4
tests/test-options-abbrargs-1
tests/test-options-abbrargs-2
tests/test-options-abbrargs-3
tests/test-options-abbrargs-4
tests/test-options-multi-1
tests/test-options-multi-2
tests/test-options-multi-3
tests/test-options-multi-4
tests/test-options-multi-5
tests/test-options-multi-6
tests/test-options-multi-7
tests/test-options-multi-8
tests/test-options-tool-auths
tests/test-options-tool-build
tests/test-options-tool-check
tests/test-options-tool-clean
tests/test-options-tool-digest
tests/test-options-tool-initialize
tests/test-options-tool-install
tests/test-options-tool-parse
tests/test-options-tool-preprocess
tests/test-options-tool-uninstall
tests/test-options-tool-validate
tests/test-options-subopts-1
tests/test-options-subopts-2
tests/test-options-subopts-3
tests/test-options-subopts-4
tests/test-options-subopts-5
tests/test-options-subopts-6
tests/test-options-subopts-7
tests/test-options-subopts-8
tests/test-options-subopts-9
tests/test-options-subopts-10
tests/test-options-subopts-11
tests/test-options-error-1

libs/perl/Sitetool/Autoconfig.pm
libs/perl/Sitetool/Filterchain.pm
libs/perl/Sitetool/Scheme.pm
libs/perl/Sitetool/Parse.pm
libs/perl/Sitetool/Preprocess.pm

libs/scheme/lib.scm

docs/man/sitetool.1
docs/info/sitetool.info

data/fcp

src/sitetool
src/sitetool-config
src/sitetool-initialize
src/sitetool-preprocess
src/sitetool-parse
src/sitetool-build
src/sitetool-clean
src/sitetool-install
src/sitetool-uninstall
src/sitetool-install
src/sitetool-check
src/sitetool-validate
src/sitetool-digest
src/sitetool-auths
src/sitetool-styles
src/filters/changelog-wikitext
src/filters/news-wikitext
src/filters/svnlog-wikitext
src/filters/sxml-sxml
src/filters/wikitext-sxml
src/filters/map-sxml

site/in/.sitetool
site/in/site.stamp
site/in/todos.sxml
site/in/todos.dump
site/in/news.sxml
site/in/news.dump
site/in/grammar.scm
site/out/*
