*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog

configure
configure.ac
config.log
config.status

tools/scripts/gitlog2ChangeLog
tools/scripts/NEWS-query

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex

tests/defs
tests/wrapper
tests/test-args
tests/test-helps
tests/test-dry-run
tests/test-initialize
tests/test-preprocess
tests/test-parse
tests/test-build
tests/test-validate
tests/testSubDir-*

libs/perl/Sitetool/Autoconfig.pm
libs/perl/Sitetool/Filterchain.pm
libs/perl/Sitetool/Scheme.pm
libs/perl/Sitetool/Parse.pm
libs/perl/Sitetool/Preprocess.pm
libs/scheme/guile-lib

docs/man/sitetool.1
docs/info/sitetool.info

src/sitetool
src/sitetool-initialize
src/sitetool-preprocess
src/sitetool-parse
src/sitetool-build
src/sitetool-clean
src/sitetool-install
src/sitetool-uninstall
src/sitetool-install
src/sitetool-check
src/sitetool-validate
src/sitetool-digest
src/filters/changelog-wikitext
src/filters/news-wikitext
src/filters/svnlog-wikitext
src/filters/sxml-sxml
src/filters/wikitext-sxml
src/filters/map-sxml
