body {
  background-color: white;
}

#main_header {
  margin: 8px;
  padding: 0px;
}

#main_header h1 {
  margin: 0px;
  padding: 0px;
}

#main_header hr {
  margin: 0px;
  padding: 0px;
  background-color: black;
  border-style: none;
}

#main_body {
  margin: 8px 16px 8px 16px;
}

#main_body p {
  padding: 0px 0px 0px 8px;
}

#main_body h5 {
  margin: 0px 0px 0px 8px;
}

#main_body ul {
  list-style-type: square;
}

#main_footer {
  margin: 8px;
  padding: 0px;
}

#main_footer hr {
  margin: 0px;
  padding: 0px;
  background-color: black;
  border-style: none;
}

#main_footer p {
  margin: 0px;
  padding: 0px 8px 0px 8px;
  font-size: small;
}

#main_footer img {
  margin: 0px;
  padding: 0px 4px 0px 0px;
  border-style: none;
}

.terminal {
  margin: 4px 8px 4px 8px;
  padding: 2px;
  border-style: dotted solid solid dotted;
  border-width: 1px 2px 2px 1px;
  border-color: black;
  white-space: pre;
  background: rgb(240,240,240);
  font-family: courier;
}
