body {
  margin: 8px;
  background-color: white;
}

#main_header h2 {
  padding: 0px 8px 0px 8px;
  border-style: none none solid none;
  border-width: 2px;
  border-color: black;
}

#main_body {
  margin: 0px 16px 0px 16px;
  border-style: none;
}

#main_body h3 {
  margin: 8px 0px 8px 0px;
  border-style: none;
}

#main_body p {
  margin: 0px 16px 0px 16px;
  border-style: none;
}

#main_footer p {
  padding: 0px 8px 0px 8px;
  border-style: solid none none;
  border-width: 2px;
  border-color: black;
  font-size: small;
}

#main_footer img {
  float: right;
  margin: 2px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  border-style: none;
}
